.form-group input {
    visibility: hidden;
}

.form-group label.btn-light {
    font-weight: 400;
    background-color: #eee;
    border: 1px solid #eee;
    color: #000;
    cursor: pointer;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.label-parent input {
    width: 12px;
}

@media only screen and (max-width: 576px) {
    .label-parent input {
        width: 6px;
    }
}

.add-cart {
    background-color: #354e5d;
    border-color: #2e4452;
}

.add-cart:hover {
    background-color: #18252d;
}

.form-group input:hover ~ label {
    background-color: #354e5d; !important;
    border-color: #2e4452;
    color: #fff;
}

.form-group input:checked ~ label {
    background-color: #354e5d; !important;
    border-color: #2e4452;
    color: #fff;
}

.card {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.125) !important;
}

.card-header {
    background-color: #fff;
}

.accordion h4 {
    text-decoration: none;
}

.accordion button, .accordion button:hover, .accordion button.active, .accordion button:focus {
    text-decoration: none;
}

.accordion button {
    color: #888;
    font-weight: 500;
    letter-spacing: 1px;
}

.card-header {
    cursor: pointer;
}

.accordion .a-fa {
    color: #999;
    font-weight: lighter;
    margin-top: 1px;
}

.card-header:hover .a-fa, .card-header:hover button {
    color: #444;
}

.accordion .a-fa:after {
    content: '-';
    font-weight: bold;
    font-size: 22px;
}

.accordion .collapsed .a-fa:after {
    content: '+' !important;
}

.card-body {
    border: none !important;
    padding-bottom: 8px;
    padding-top: 8px;
}

.price h4 {
    font-weight: 400;
    text-decoration: line-through;
    color: #9a9a9a;
}

.product-owner a {
    color: #999999;
    text-decoration: none;
    padding-left: 3px;
}

.product-owner a:hover {
    color: #666666;
}

@media only screen and (max-width: 992px) {
    .price-price {
        font-size: 2.1rem;
    }
    .price h4 {
        margin-top: 12px !important;
    }
}

* {
    box-sizing: border-box;
}

.input-number {
    width: 65px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

                .input-number-decrement,
                .input-number-increment {
                  display: inline-block;
                  width: 30px;
                  line-height: 38px;
                  background: #f1f1f1;
                  color: #444;
                  text-align: center;
                  font-weight: bold;
                  cursor: pointer;
                }
                .input-number-decrement:active,
                .input-number-increment:active {
                  background: #ddd;
                }

                .input-number-decrement {
                  border-right: none;
                  border-radius: 4px 0 0 4px;
                }

                .input-number-increment {
                  border-left: none;
                  border-radius: 0 4px 4px 0;
                }