{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Cart{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/footer-dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5 py-5 cart">
        <div class="row">
            <div class="col">

                {% if cart.cartitem_set.count == 0 %}
                    <h5 class="mb-5 mt-4 text-center text-md-left pl-0 pl-md-2 total-items" style="min-height: 30vh;">Your cart is empty.</h5>
                {% elif cart.cartitem_set.count == 1 %}
                    <h5 class="mb-5 mt-4 text-center text-md-left pl-0 pl-md-2 total-items">There is 1 item in your cart.</h5>
                {% else %}
                    <h5 class="mb-5 mt-4 text-center text-md-left pl-0 pl-md-2 total-items">There are {{ cart.cartitem_set.count }} items in your cart.</h5>
                {% endif %}

                {% for item in cart.cartitem_set.all %}

                    {% if forloop.counter0 == 0 %}
                        <hr class="col-10 col-md-11 px-3 px-lg-4 px-xl-5 first-hr">
                    {% endif %}

                    <div class="row d-flex align-items-center {{ item.product.slug }}-{{ item.variation.tag }}">

                        <div class="col-2 col-md-1 d-flex align-items-center justify-content-center justify-content-md-start qty">
                            <div class="text-center">
                                <form method="POST" action="{% url 'carts:cart_update' %}" class="form d-flex align-items-center cart-qty-update">
                                    {% csrf_token %}
                                    <input type="hidden" name="size" value="{{ item.variation.tag }}">
                                    <input type="hidden" name="product" value="{{ item.product.slug }}">
                                    <input type="hidden" name="qty" value="1">
                                    <button class="btn btn-default py-0" type="submit"><span class="fa fa-chevron-up"></span></button>
                                </form>
                                <p class="align-self-center mb-0 {{ item.product.slug }}-{{ item.variation.tag }}-qty" style="padding-top: 1px;">{{ item.quantity }}</p>
                                <form method="POST" action="{% url 'carts:cart_update' %}" class="form d-flex align-items-center cart-qty-update">
                                    {% csrf_token %}
                                    <input type="hidden" name="size" value="{{ item.variation.tag }}">
                                    <input type="hidden" name="product" value="{{ item.product.slug }}">
                                    <input type="hidden" name="qty" value="-1">
                                    <button class="btn btn-default py-0" type="submit"><span class="fa fa-chevron-down"></span></button>
                                </form>
                            </div>
                        </div>

                        <div class="col-8 col-md-10 mt-3 mb-1 mt-md-0 mb-md-0">
                            <div class="row">

                                <div class="col-12 col-md-8 d-flex align-items-center justify-content-center justify-content-md-start">
                                    {% for img in item.product.productimage_set.all %}
                                        {% if img.featured %}
                                            <div class="row">
                                                <div class="col-12 col-md-auto d-flex justify-content-center justify-content-md-start"><img class="img-thumbnail align-self-center mr-4 mx-auto mx-md-0" style="width: 120px;" src="{{ img.image.url }}" alt="{{ item.product.title }}"></div>
                                                <div class="col-12 col-md-auto d-flex justify-content-center justify-content-md-start align-self-center"><h4 class="align-self-center mt-2 mt-md-0 pt-1">{{ item.product.title }}</h4></div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {% if item.variation %}
                                    <div class="col-12 col-md-2 d-flex align-items-center justify-content-center justify-content-md-start pt-2">
                                        <div class="row d-flex align-items-center mt-2 mt-md-0 mb-2">
                                            <h5 class="pt-1 pr-3" style="padding-left: 2px;">{{ item.variation.category | title }}</h5>
                                            <span class="btn btn-light btn-circle">{{ item.variation.tag }}</span>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="col-12 col-md-2 d-flex align-items-center justify-content-center justify-content-md-start">
                                    <h5 class="pt-3 pt-md-1 {{ item.product.slug }}-{{ item.variation.tag }}-total">PKR {{ item.line_total }}</h5>
                                </div>

                            </div>
                        </div>

                        <div class="col-2 col-md-1 d-flex align-items-center justify-content-center justify-content-md-end">
                            <form method="POST" action="{% url 'carts:cart_delete' %}" class="form d-flex align-items-center cart-delete-product">
                                {% csrf_token %}
                                <input type="hidden" class="trash-size" name="size" value="{{ item.variation.tag }}">
                                <input type="hidden" class="trash-product" name="product" value="{{ item.product.slug }}">
                                <button class="btn btn-default py-0 trash cart-btn-trash" type="submit"><span class="fa fa-trash" style="font-size: 20px;"></span></button>
                            </form>
                        </div>

                    </div>

                    <hr class="col-10 col-md-11 px-3 px-lg-4 px-xl-5 {{ item.product.slug }}-{{ item.variation.tag }}">

                {% endfor %}

                {% if cart.cartitem_set.count != 0 %}
                    <div class="col-12 col-md-5 offset-md-7 col-lg-4 offset-lg-8 col-lg-3 offset-xl-9 pt-2 checkout-routine">
                        <h4 class="text-center pt-4 pb-2 cart-total">Total: PKR {{ cart.total }}</h4>
                        <div class="d-flex justify-content-center pt-1">
                            <a href="{% url 'checkout:checkout' %}" class="btn btn-dark btn-checkout">PROCEED TO CHECKOUT</a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    {% include 'base/footer.html' %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $(".cart-qty-update").submit(function(event) {
                event.preventDefault();
                let $submittedform = $(this);

                let $product = $submittedform.find("input[name='product']").val();
                let $size = $submittedform.find("input[name='size']").val();
                let $qty = $submittedform.find("input[name='qty']").val();

                update_qty($product, $size, $qty);
            });
        });

        function update_qty($product, $size, $qty) {
            $.ajax({
                    type: "POST",
                    url: "{% url 'carts:cart_update' %}",
                    data: {
                        "product": $product,
                        "size": $size,
                        "qty": $qty,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    success: function (data) {
                        $("."+$product+"-"+$size + "-total").text("PKR " + data.line_total);
                        $("."+$product+"-"+$size + "-qty").text(data.product_qty);
                        $(".cart-total").text("Total: PKR " + data.cart_total);
                        if ( (parseInt(data.product_qty)) <= 0 ) {
                            $("."+$product+"-"+$size).remove();
                            item_count(parseInt(data.total_qty));
                        }
                    }
            });
        }

        $(document).ready(function () {
           $(".cart-delete-product").submit(function(event){
               event.preventDefault();
               let $submittedform = $(this);

               let $product = $submittedform.find("input[name='product']").val();
               let $size = $submittedform.find("input[name='size']").val();


               delete_product($product, $size);
           });
        });

        function delete_product($product, $size) {
            $.ajax({
                    type: "POST",
                    url: "{% url 'carts:cart_delete' %}",
                    data: {
                        "product": $product,
                        "size": $size,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    success: function(data) {
                        $("."+$product+"-"+$size).remove()
                        $(".cart-total").text("Total: PKR " + data.cart_total);
                        item_count(data.item_count)
                    }
            });
        }

        function item_count($qty) {
            let $data = $(".total-items");
            if (parseInt($qty) == 0) {
                $data.text("Your cart is empty.");
                $data.css('min-height', '30vh');
                $(".checkout-routine").remove();
                $(".first-hr").remove();
            }
            else if (parseInt($qty) == 1) {
                $data.text("There is 1 item in your cart.");
            }
            else {
                $data.text("There are " + $qty + " items in your cart.")
            }
        }
    </script>
{% endblock %}