<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="width: 600px; font-family: 'Calibri Light', sans-serif;">
    <div class="container" style="background-color: #fcfcfc; padding: 20px 30px 30px 30px;">
        <h2 style="margin-bottom: 10px;">Dear, {{ name }}</h2>
        <p style="margin-bottom: 50px;">Sorry to hear that you were locked out of your account. Reset your password now.</p>
        <div class="wrapper" style="text-align: center;">
            <a class="button" href="{{ link }}">Reset Password</a>
        </div>
        <p style="margin-top: 48px;">If you did not request for a password reset, let us know via email at damerch.o@gmail.com as soon as possible.</p>
        <h4 style="margin-bottom: 10px; margin-top: 20px;">Regards,</h4>
        <h4 style="margin-top: 10px;">Team Damerch</h4>
    </div>
    <style>
        .button {
            text-decoration: none;
            color: #FFFFFF;
            background-color: #354e5d;
            padding: 15px 32px;
            font-size: 16px;
            text-align: center;
        }
        .button:hover {
            background-color: #18252d;
        }
    </style>
</body>
</html>